/* ---------------------------------
=body
--------------------------------- */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-size: 1rem;
  background-color: var(--color-background);
  color: var(--color-text);

  @include breakpoint(medium) {
    font-size: calc(18 / 16 * 1rem);
  }
}

body.has-menu {
  overflow-y: hidden;

  @include breakpoint(medium) {
    overflow-y: auto;
  }
}
