{% macro schemaItem(item) %}

  {% if item.big %}
    {% set size = 'big' %}
  {% else %}
    {% set size = 'small' %}
  {% endif %}

  <li class="c-schema__item c-schema__item--{{size}}">
    <img class="c-schema__icon o-fluidimage" src="{{item.icon}}" alt="{{item.name}} icon">
    <p class="c-schema__name c-schema__name--{{size}}">{{item.name}}</p>
  </li>
{% endmacro %}