{% macro serviceCard(title, content, url, image) %}
  <article class="c-service-card c-card js-anim js-anim--translate">
    <div class="c-deco-img-container c-card__deco-container">
      <img src="{{image}}" alt="Service {{title}} icon" class="c-deco-img c-card__deco">
    </div>
    <div class="c-card__body">
      <h2 class="c-card__title c-h2">{{ title }}</h2>
      <p class="c-card__content">{{ content }}</p>
      <a href="{{ url }}" class="c-card__link">Ça m’intéresse {% include "svg/arrow.svg" %}</a>
    </div>
  </article>
{% endmacro %}