/* ---------------------------------
=logo
--------------------------------- */

.c-logo {
  display: block;
  width: 108px;

  @include breakpoint(medium) {
    width: 120px;
  }

  @include breakpoint(large) {
    width: 150px;
  }
}
