/* ---------------------------------
=values
--------------------------------- */

.c-value {
  display: block;
}

.c-value__title {
  font-weight: 600;
  font-size: calc(18 / 16 * 1rem);
  margin-bottom: 0.25em;
}

.c-value__text {
  color: var(--color-text-offset);
  margin-bottom: 0;
}
