/* ---------------------------------
=home introduction
--------------------------------- */

.c-homeintro {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  @include breakpoint(large) {
    grid-template-columns: minmax(0, 54ch) minmax(0, 1fr);
    column-gap: var(--gutter);
  }
}
