/* ---------------------------------
=social media
--------------------------------- */

.c-socialmedia {
  list-style: none;
  margin: 0;
  padding: 0;

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-xxs);
}

.c-socialmedia__link {
  color: var(--color-text-invert);
  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: var(--color-brand-bright);
  }
}
