/* ---------------------------------
=call to action
--------------------------------- */

.c-cta {
  padding: 10px 24px;

  font-weight: 400;
  font-size: calc(16 / 16 * 1rem);
  line-height: calc(24 / 16);
  font-family: var(--fontstack-alt);
  color: var(--color-text);
  background-color: var(--color-brand);

  border-radius: var(--border-radius);

  text-decoration: none;
  transform: scale(1);
  transition: transform 0.3s ease-out;

  &:hover,
  &:focus {
    transform: scale(1.15);
    transition: transform 0.3s ease-out;
    
  }
}

.c-cta:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}

.c-cta > svg {
  display: inline-block;
  margin-left: var(--spacing-xxs);
  transform: translate3d(0, 0, 0);
  transition: transform 0.1s ease-out;
}


// ---------------------------------
// =variants
// ---------------------------------

.c-cta--invert {
  color: var(--color-text-invert);
  border-color: var(--color-text-invert);

  &:hover,
  &:focus {
    color: var(--color-text-invert);
  }
}
