
.c-methode__schema{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.c-schema__items{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.c-schema__item {
    display: flex;
    justify-content: center;
    gap: 18px;
    
    width: 250px;
    height: 85px;
    box-sizing: border-box;

    display: flex;  
    align-items: center;
    gap: 10px;

    padding: 12px 18px 12px 12px;

    border-radius: 19.42px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: var(--box-effect);
    backdrop-filter: blur(10px);
}

.c-schema__item--small{
    width: 200px;
    height: 65px;
    padding: 10px 15px 10px 10px;

    border-radius: 50px;
}

.c-schema__icon {
    filter: var(--filter-drop-shadow--small);
    height: 80%;
}

.c-schema__name {
    margin: 0;
    font-size: calc(42 / 16 * 1rem);
    font-weight: 450;
    margin: 0;
    padding: 0;
    line-height: 0%;
    font-family: var(--fontstack-alt);
    color: var(--color-text);
    align-self: center;

    &--small{
        font-size: calc(28 / 16 * 1rem);
    }
}

.c-schema__to-small{
    width: 38px;
}