
.c-cardsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-cardsection--dyn{
    align-items: flex-start;
}

.c-cardsection__footer{
    display: none;
}

.c-card-gallery{
    height: fit-content;
    gap: 0px;

    @include breakpoint(medium) {
        gap: 20px;
    }
}

.c-card-gallery--dyn{
    display: flex;
    gap: 20px;
    
    transition: transform 0.3s ease-in-out;
}

.c-card{
    position: relative;
    padding: 24px;
    padding-top: 72px;
    padding-bottom: 24px;
    margin-top: 20%;

    border: 2px solid var(--color-border);
    background-color: var(--color-background-muted);

    box-sizing: border-box;
    max-width: 440px;
    width: calc(90vw - 18px);

    border-radius: var(--border-radius);

    @include breakpoint(medium) {
        padding: 42px;
        padding-top: 90px;
        padding-bottom: 24px;
    }
}

.c-card__body{
    display: flex;
    flex-direction: column;
    gap: 18px;

    & > h2 {
        margin-bottom: 0;
    }
}

.c-card__link{
    margin-left: auto;
}


.c-card__header{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    gap: 18px;

    @include breakpoint(small) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.c-card__titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    @include breakpoint(small) {
        align-items: flex-start;
    }
    
     h2, h4 {
      margin: 0;
      white-space: nowrap;
    }
}

.c-card__age{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;

    .c-h4{
        color: var(--text-invert)
    }
}

.c-card__age-number{
    line-height: 1;
}