// STOP TRYING TO MAKE IT REPONSIVE MAKE BREAKPOINTS FOR THE FONT AND THE ICON 


.c-schema__element {
    width: 100%;
    max-width: 300px;
    height: auto; /* Changed to auto to adapt to the content */

    display: flex;  
    align-items: center; /* This will vertically center both the text and the icon */
    gap: 10px;

    padding: 12px 18px 12px 12px;

    border-radius: 19.42px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: var(--box-effect);
    backdrop-filter: blur(10px);
}

.c-schema__icon {
    height: auto; /* Let the icon adapt to the height of its content */
    width: auto; /* You might also need this if you don't want the width to stretch to 100% */
    filter: var(--filter-drop-shadow--small);
    align-self: center; /* If needed, this will ensure the icon is centered to its parent */
}

.c-schema__name {
    margin: 0;
    font-size: clamp(14px, 3vw, 42px);
    font-weight: 500;
    font-family: var(--fontstack-alt);
    color: var(--color-text);
    align-self: center; /* If needed, this will ensure the text is centered to its parent */
}
