/* ---------------------------------
=page section
--------------------------------- */

:root{
  --padding-section: 72;
  --deco-height: 30;
  --big-deco-height: 50;

  @include breakpoint(medium) {
    --padding-section: 90;
    --deco-height: 48;
    --big-deco-height: 72;
  }

  @include breakpoint(large) {
    --padding-section: 180;
    --deco-height: 60;
    --big-deco-height: 100;
  }
}

.c-pagesection {
  position: relative;
  padding-top: calc( var(--padding-section) / 16 * 1rem);
  padding-bottom: calc( var(--padding-section) / 16 * 1rem);

  background-color: var(--color-background);
}

.c-pagesection + .c-pagesection--deco{
  
  padding-bottom: calc( ( var(--padding-section) + var(--deco-height) ) / 16 * 1rem);

}

.c-pagesection--no-bottom-deco{
  padding-bottom: calc( var(--padding-section) / 16 * 1rem) !important;
}

/* ---------------------------------
=variants of page sections
--------------------------------- */

.c-pagesection--light {
  background-color: var(--color-background-invert);
  color: var(--color-text-invert);
}

.c-pagesection--deco::before{
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  transform: translate3D(0, -99%, 0);
  background-color: inherit;
  width: 100%;
  
  z-index: 1;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 50% 90%, 0% 0%);
  transition: height 0.5s ease;

  height: calc(var(--deco-height) / 16 * 1rem);
}

//TODO add scoll animation on the angle of the deco

// .c-pagesection--deco:hover::before{
//   height: 200px;
//   transition: height 0.5s ease;
// }

.c-pagesection--big-deco{
  @include breakpoint(medium) {
    padding-top: calc(54 / 16 * 1rem);
  }
  
  @include breakpoint(large) {
    padding-top: calc(72 / 16 * 1rem);
  }
}

.c-pagesection--big-deco::before{
    height: calc( var(--big-deco-height) / 16 * 1rem);
}