.c-hero {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 0;
    background-color: transparent;

    padding-top: calc(45 / 16 * 1rem);

  @include breakpoint(medium) {
    padding-top: calc(72 / 16 * 1rem);
  }

  @include breakpoint(large) {
    padding-top: calc(90 / 16 * 1rem);
  }
}

.c-hero__title {
    font-weight: 400;
    font-size: clamp(calc(28 / 16 * 1rem),
            calc(.2rem + 5vw),
            calc(60 / 16 * 1rem));
    z-index: 1;
    margin-bottom: calc(12/16*1rem);

    @include breakpoint(medium) {
        white-space: nowrap;
    }

    >span {
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            height: 20px;
            width: calc(100% + 10px);
            z-index: -1;
            background: url('/public/img/undeline.svg') 50% 50% no-repeat;
            background-size: contain;
            border-radius: 25px;
        }
    }
}

.c-hero__paragraph {
    font-weight: 300;
    margin-bottom: 36px;
}

.c-hero__content {
    min-height: 70vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: "texte" "image";

    @include breakpoint(medium) {
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "image texte";
    }
    
    @include breakpoint(large) {
        grid-template-columns: 3fr 4fr;
    }
}

.c-hero__text {
    z-index: 1;
    margin-bottom: 15vw;
    grid-area: texte;
}

.c-hero__footer {
    display: flex;
    flex-direction: column;
    gap: calc(18/16*1rem);

    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.c-hero__img-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.c-hero__image {
    width: 100%;
    transform: translate3d(-10%, 20%, 0) scale(1.3);
    transform-origin: bottom center;
    
    
    @include breakpoint(medium) {
        position: absolute;
        left:55%;
        transform: translate3d(-55%, calc(20% - 10vw) , 0) scale(1);
        width: calc(70vh + 15vw);
        max-width: 90vh;
    }
}

.c-hero__deco-container{
    position: absolute;
    width: 42px;
    border-radius: var(--border-radius);

    @include breakpoint(medium) {
        width: 52px;
    }

    @include breakpoint(large) {
        width: 62px;
    }
}

.c-hero__deco{
    width: 120%;
    height: 120%;
}

.c-hero__deco-container.clap{
    top: 50%;
    left: 5%;

    @include breakpoint(medium) {
        top: 60%;
        left: 0%;
    }

    @include breakpoint(large) {
        top: 50%;
        left: 0%;
    }
}
.c-hero__deco-container.clock{
    top: 27%;
    left: 60%;
    z-index: -1;

    @include breakpoint(medium) {
        top: 30%;
        left: 80%;
    }

    @include breakpoint(large) {
        top: 25%;
        left: 75%;
    }
}
.c-hero__deco-container.biceps{
    top: 65%;
    left: 75%;

    @include breakpoint(medium) {
        top: 70%;
        left: 120%;
    }

    @include breakpoint(large) {
        top: 72%;
        left: 90%;
    }
}

.c-hero__deco-container.trophy{
    top: 95%;
    left: 45%;
    z-index: 10;

    @include breakpoint(medium) {
        top: 92%;
        left: 55%;
    }

    @include breakpoint(large) {
        top: 90%;
        left: 40%;
    }
}
