
.c-cardsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-cardsection--dyn{
    overflow-x: scroll;
}


.c-cardsection__footer{
    display: none;
}

.c-card-gallery{
    gap: 0px;

    @include breakpoint(medium) {
        gap: 20px;
    }
}

.c-card-gallery--dyn{
    display: flex;
    gap: 20px;
}


.c-card{
    position: relative;
    padding: 42px;
    padding-top: 90px;
    margin-top: 20%;

    border: 2px solid var(--color-border);
    background-color: var(--color-background-muted);

    box-sizing: border-box;
    max-width: 440px;

    border-radius: var(--border-radius);
}

.c-card--dyn{
    width: 440px;
}

.c-card__body{
    display: flex;
    flex-direction: column;
    gap: 18px;

    & > h2 {
        margin-bottom: 0;
    }
}

.c-card__link{
    margin-left: auto;
}


.c-card__header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 18px;
}

.c-card__titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
     h2, h4 {
      margin: 0;
    }
}

.c-card__age{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;

    .c-h4{
        color: var(--text-invert)
    }
}

.c-card__age-number{
    line-height: 1;
}