@use "../mixins/mixins-breakpoints";

.c-content-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    justify-items: center;
    align-items: center;

    gap: 24px;

    @include mixins-breakpoints.breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
        gap: 48px;
     }
}

.c-content-section__img-container{
    max-width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

    