/* ---------------------------------
=mobile menu
--------------------------------- */

.c-mobilemenu {
  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-brand-dark);
  padding: calc(18 / 16 * 1rem);
  z-index: 9999;
}

.c-mobilemenu.is-open {
  display: block;

  @include breakpoint(medium) {
    display: none;
  }
}

.c-mobilemenu__actions {
  text-align: right;
}

.c-mobilemenu__close {
  font-size: calc(14 / 16 * 1rem);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: calc(6 / 16 * 1rem) calc(12 / 16 * 1rem);
  line-height: 1.5;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-white);
    text-decoration: none;
  }
}

.c-mobilemenu__body {
  margin-top: 31vh;
}
