/* ---------------------------------
=intro text
--------------------------------- */

.c-intro {
  font-weight: 400;
  font-size: clamp(
    calc(28 / 16 * 1rem),
    calc(1rem + 2vw),
    calc(37 / 16 * 1rem)
  );
  line-height: 1.36;
  font-family: var(--fontstack--main);
  margin-bottom: 1.5em;
}
