
.c-hero{
    position: relative;
    box-sizing: border-box;
    height: 85vh;
    overflow: hidden;
    padding-bottom: 0;
}

.c-hero-content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.c-hero-image{
    margin-top: auto;
    max-height: 80vh;
    transform: scale(1.3) translate3d(-5%, 0, 0);
}

.c-hero--white{
    position: relative;
}

.c-hero--white::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3D(0, -100%, 0);
    width: 100%;
    height: 100px;
    background-color: var(--color-background-invert);
    
    z-index: 1;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 50% 100%, 0% 0%);
}