@use "../mixins/mixins-breakpoints";

.c-title-module{
  display: grid;
  max-width: 1040px;
  margin: 0 auto;
  margin-bottom: 42px;

  scroll-margin-top: 10vh;

  @include mixins-breakpoints.breakpoint(medium) {
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
  }
}

.c-title-module--vertical{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}

.c-title-module__title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
  > h2, h4 {
    margin: 0;
  }
}

.c-title-module__content{
  margin-top: calc(10px + 1rem);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.c-title-module__cta {
  display: flex;
  flex-direction: column;
  gap: calc(18/16*1rem);

  @include mixins-breakpoints.breakpoint(medium) {
      flex-direction: row;
  }
}