/* ---------------------------------
=contact list
--------------------------------- */

.c-contactlist {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(3 / 16 * 1rem);
}

.c-contactlist__link {
  color: var(--color-text-invert);
  text-decoration: none;

  font-weight: 400;
  font-size: clamp(
    calc(22 / 16 * 1rem),
    calc(1rem + 1.5vw),
    calc(33 / 16 * 1rem)
  );

  &:hover,
  &:focus {
    color: var(--color-text-invert);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 0.05em;
    text-decoration-color: rgba(255, 255, 255, 0.5);
  }
}
