/* ---------------------------------
=categories
--------------------------------- */

.c-categories {
  margin-bottom: calc(42 / 16 * 1rem);
}

.c-categories__title {
  font-family: var(--fontstack-main);
  font-weight: 600;
  font-size: calc(18 / 16 * 1rem);
}

.c-catlist {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: var(--gutter);
}

.c-catlist__link {
  display: inline-block;
  padding-top: calc(3 / 16 * 1rem);
  padding-bottom: calc(3 / 16 * 1rem);
  color: var(--color-text-offset);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-text-offset);
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.18);
  }
}

.c-catlist__link.is-current {
  color: var(--color-brand);
  text-decoration: underline;
}
