{% extends "layouts/base.njk" %}

{% set currentSection = key %}

{% set metaTitle = meta.title %}
{% set metaDescription = meta.title %}

{# Import #}

{% from "macros/serviceCard.njk" import serviceCard %}
{% from "macros/reviewCard.njk" import reviewCard %}
{% from "macros/schema__item.njk" import schemaItem %}

{% block content %}

  {% include "partials/siteheader.njk" %}

  <main>
    <div class="c-pagesection c-hero">
      <div class="l-container">
        <div class="c-hero__content">
          <div class="c-hero__img-container js-anim js-anim--opacity js-anim--translate">
            {# TODO add srcset #}
            <img src="{{hero.image}}" alt="{{hero.imageAlt}}" class="c-hero__image">
            <div class="c-hero__deco-container c-deco-img-container js-anim js-anim--opacity js-anim--translate clap" data-parallax="0.07">
              <img src="/assets/img/hero-icons/clapping_hands.png" alt="Icon of clapping hands" class="c-hero__deco c-deco-img" data-rotate="-7, 1" >
            </div>
            <div class="c-hero__deco-container c-deco-img-container js-anim js-anim--opacity js-anim--translate clock" data-parallax="0.03">
              <img src="/assets/img/hero-icons/eleven_oclock.png" alt="Icon of a clock" class="c-hero__deco c-deco-img" data-rotate="10, -1" >
            </div>
            <div class="c-hero__deco-container c-deco-img-container js-anim js-anim--opacity js-anim--translate biceps" data-parallax="0.05">
              <img src="/assets/img/hero-icons/flexed_biceps.png" alt="Icon of a flexed biceps" class="c-hero__deco c-deco-img" data-rotate="-7, 1" >
            </div>
            <div class="c-hero__deco-container c-deco-img-container js-anim js-anim--opacity js-anim--translate trophy" data-parallax="0.03">
              <img src="/assets/img/hero-icons/trophy.png" alt="Icon of a trophy" class="c-hero__deco c-deco-img" data-rotate="10, -1" >
            </div>
          </div>

          <div class="c-hero__text">
            <h1 class="c-h1 c-hero__title">{{ hero.title | replaceSpans | safe }}</h1>
            <p class="c-hero__paragraph">{{ hero.subtitle }}</p>
            <div class="c-hero__footer">
              {% if hero.buttons %}
                {% for button in hero.buttons %}
                  <a href="{{ button.url }}" class="c-cta {% if button.isSecondary %}c-cta--secondary{% endif %}">{{ button.text }}</a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-pagesection c-pagesection--light c-pagesection--deco">
      <div class="l-container">
        <div class="c-title-module" id="ancre-services">
          <div class="c-title-module__title">
            <h4 class="c-h4">{{ services.smallTitle }}</h4>
            <h2 class="c-h2">{{ services.title }}</h2>
          </div>
          <div class="c-title-module__content">
            <p>{{ services.description }}</p>
          </div>
        </div>
        <ul class="u-list-bare js-init-cards c-card-wrap">
          {% for service in services.serviceCards %}
          <li>
            {{ serviceCard(
                  image=service.image,
                  url=service.url,
                  title=service.title,
                  cardContent=service.content
                ) }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="c-pagesection c-pagesection--deco">
      <div class="l-container">
        <div class="c-title-module">
          <div class="c-title-module__title">
            <h4 class="c-h4">{{ method.smallTitle }}</h4>
            <h2 class="c-h2 c-h2--white">{{ method.title }}</h2>
          </div>
          <div class="c-title-module__content">
            <p>{{ method.description }}</p>
          </div>
        </div>
        <div class="c-methode">
          <h3 class="c-methode__title c-h3 c-h3--white">{{ method.methodTitle }}</h3>
          <p class="c-methode__text">{{ method.methodText }}</p>
          <div class="c-schema">
            {% for item in collections.schema__bigItems %}
              {% if loop.first %}
                <ul class="u-list-bare c-schema__items c-schema__items--big">
                {% endif %}

                {{ schemaItem(item) }}

                {% if loop.last == false %}{% include "svg/schema/next.svg" %}
                {% endif %}
                {% if loop.last %}
                </ul>
              {% endif %}
            {% endfor %}

            <div class="c-schema__to-small">
              {% include "svg/schema/double.svg" %}
            </div>
            <p class="c-schema__info">Pour optimiser votre...</p>
            {% for item in collections.schema__smallItems %}
              {% if loop.first %}
                <ul class="u-list-bare c-schema__items c-schema__items--small">
                {% endif %}

                {{ schemaItem(item) }}

                {% if loop.last == false %}{% include "svg/schema/next.svg" %}
                {% endif %}
                {% if loop.last %}
                </ul>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="c-pagesection c-pagesection--light c-pagesection--deco">
      <div class="l-container l-container--small">
        <div class="c-title-module">
          <div class="c-title-module__title">
            <h4 class="c-h4">{{ testimonials.smallTitle }}</h4>
            <h2 class="c-h2">{{ testimonials.title }}</h2>
          </div>
          <div class="c-title-module__content">
            <p>{{ testimonials.description }}</p>
            {# TODO Add links#}
            <div class="c-title-module__cta">
              <a href="#" class="c-cta">Mes formations</a>
              <a href="#" class="c-cta c-cta--secondary c-pagesection--light">Suivi individuel</a>
            </div>
          </div>
        </div>
        <div class="swiper-container js-init-cards">
          <div class="swiper-wrapper js-cardesction__scroll--dyn">
            {% for review in collections.reviews %}
              <div class="swiper-slide">
                    {{ reviewCard(
                image=review.data.image,
                name=review.data.name,
                formation=review.data.formation,
                url=review.data.url,
                age=review.data.age,
                cardContent=review.data.cardContent
                  ) }}
              </div>
            {% endfor %}
          </div>
          <div class="c-gallery-section__footer">
            <button class="c-cardsection__btn prev js-cardsection__btn--prev">{% include "svg/arrow.svg" %}</button>
            <button class="c-cardsection__btn next js-cardsection__btn--next">{% include "svg/arrow.svg" %}</button>
          </div>
        </div>

      </div>
    </div>

    <div class="c-pagesection c-pagesection--deco c-pagesection--no-bottom-deco">
      <div class="l-container l-container--small">
        <div class="c-content-section c-content-section--text-image">
          <div class="c-title-module c-title-module--vertical">
            <div class="c-title-module__title">
              <h4 class="c-h4">{{ about.smallTitle }}</h4>
              <h2 class="c-h2 c-h2--white">{{ about.title }}</h2>
            </div>
            <div class="c-title-module__content">
              {{ about.content | safe }}
            </div>
          </div>
          <div class="c-content-section__img-container">
            <img src="{{ about.image }}" alt="{{ about.imageAlt }}" class="c-content-section__img o-fluidimage">
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}