---
permalink: about/index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "about" %}

{% set metaTitle = "About" %}
{% set metaDescription = "Simon Tarea - Votre temps, votre santé : Reprenons le contrôle" %}

{# Import #}

{% block content %}
  <main>
    <div class="c-pagesection c-hero-secondary">
      {% include "partials/siteheader.njk" %}
      <div class="c-hero__image-container--secondary">
        <img src="https://images.unsplash.com/photo-1549363690-1a0a7a081ec6?q=80&w=3474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image of a car crash" class="c-hero__image--secondary">
      </div>
      <div class="l-container l-container--small">
        <div class="c-hero__text">
          <h1 class="c-h1 c-hero__title">Ma vie aurait pu <span>s’arrêter</span> là</h1>
          <p class="c-hero__paragraph">Entrepreneur, coach et formateur, ma Mission est d’inspirer les entrepreneurs à utiliser de façon épanouissante et congruente la plus importante de leur ressource, le Temps !</p>
          <div class="c-hero__footer c-hero__footer--secondary">
            {# TODO Add corrects links #}
            <a href="#ancre-services" class="c-cta">Mes services</a>
            <a href="#" class="c-cta c-cta--secondary">Me contacter</a>
          </div>
        </div>
      </div>
    </div>

    <div class="c-pagesection c-pagesection--light c-pagesection--deco c-pagesection--no-bottom-deco">

      <div class="l-container l-container--copy">
        <div class="c-title-module c-title-module--vertical c-about-me">
          <div class="c-title-module__title">
            <h4 class="c-h4">Mon parcours</h4>
            <h2 class="c-h2">Ce qui m’a amené à aujourd’hui</h2>
          </div>

          <div class="c-title-module__content c-about__content">
            <p>J’ai subi ma vie jusqu’à mon brutal accident de la route en 2014. <br> <strong>Ma vie aurait pu s’arrêter là. </strong> </p>

            <p>À mon réveil, je me rends compte que je n’ai rien vécu, rien choisi. Pourtant, j’avais un salaire très confortable en tant que consultant. Je n’étais pas le plus à plaindre mais je n’étais pas épanoui.</p>

            <p>Je me remets en selle, déterminé à profiter de cette seconde chance pour donner un élan à ma carrière. J’enchaîne alors les missions et les projets. Mais début 2015, la vie me met au défi une nouvelle fois. Mon corps me lâche, épuisé. Je fais bel et bien un burnout.</p>

            <p>Cette fois-ci, je me suis juré de ne pas subir ce second message de la vie mais de prendre du recul et de me reconstruire vraiment à mon rythme.</p>

            <p>À croire qu’il faut frôler la mort et subir un burnout pour comprendre qu’on ne doit pas chercher à rajouter des années à notre vie mais de rajouter de la vie à nos années.</p>

            <p>Suite à ces deux accidents, je décide de reprendre le contrôle de ma vie :</p>

            <ul class="c-about__list">
              <li>Je quitte le salariat et me lance en tant que consultant freelance.</li>
              <li>Je deviens ensuite formateur en Lean Six Sigma pour la Belgique et la France (+500 personnes formées).</li>
              <li>Je deviens vice-champion de France de MindMapping, 5ème en lecture rapide et 4ème de ma catégorie aux Opens de Crossfit.</li>
              <li>Et surtout je deviens papa, le plus heureux événement de ma vie.</li>
            </ul>

            <h4 class="c-h2">Tout cela n’est pas le fruit du hasard</h4>

            <div class="l-grid l-grid--2cols@medium">
              <div class="c-about__card">
                 <div class="c-deco-img-container c-card__deco-container c-about-card__deco">
                  <img src="/assets/img/hero-icons/flexed_biceps.png" data-rotate="10, -1" alt="Icon of a biceps" class="c-deco-img c-card__deco">
                </div>
                <p> L’organisation de mon temps définie de manière proactive sur la base de semaines idéales.</p>
              </div>
              <div class="c-about__card">
                 <div class="c-deco-img-container c-card__deco-container c-about-card__deco">
                  <img src="/assets/img/hero-icons/eleven_oclock.png" data-rotate="-10, 1" alt="Icon of a clock" class="c-deco-img c-card__deco">
                </div>
                <p> L’organisation de mon temps définie de manière proactive sur la base de semaines idéales.</p>
              </div>
            </div>

            <p>Depuis 2020, j’ai décidé de compiler toutes mes expériences de vie pro et perso dans une méthode de coaching que j’ai appelée la méthode “Create”. <br> Cette méthode a déjà fait ses preuves sur +15 personnes.</p>

            <p>Concrètement, j’aide les parents entrepreneurs et dirigeants, à créer de meilleures habitudes pour reprendre le contrôle de leur temps et de leur santé.</p>

            <p>Le temps et la santé sont pour moi les 2 piliers décisifs pour vivre une vie épanouie. La bonne nouvelle c’est qu'ils sont tous les 2 majoritairement sous notre contrôle.</p>

            <p class="c-about__p-muted">Si vous désirez redonner du sens à votre vie et créer votre semaine idéale pour mieux gérer votre temps et être en pleine forme, prenez rendez-vous avec moi :</p>

            <a href="#" class="c-cta">Prendre rendez-vous</a>
          </div>
        </div>
      </div>

    </main>
  {% endblock %}