{% extends "layouts/base.njk" %}

{% set currentSection = "about" %}
{% set aboutData = about %}

{% set metaTitle = aboutData.meta.title %}
{% set metaDescription = aboutData.meta.description %}

{# Import #}

{% block content %}
  <main>
    <div class="c-pagesection c-hero-secondary">
      {% include "partials/siteheader.njk" %}
      <div class="c-hero__image-container--secondary">
        <img src="{{ aboutData.hero.image }}" alt="{{ aboutData.hero.imageAlt }}" class="c-hero__image--secondary">
      </div>
      <div class="l-container l-container--small">
        <div class="c-hero__text">
          <h1 class="c-h1 c-hero__title">{{ aboutData.hero.title }} <span>{{ aboutData.hero.highlightedText }}</span></h1>
          <p class="c-hero__paragraph">{{ aboutData.hero.paragraph }}</p>
          <div class="c-hero__footer c-hero__footer--secondary">
            {% for button in aboutData.hero.buttons %}
              <a href="{{ button.url }}" class="c-cta{% if button.isSecondary %} c-cta--secondary{% endif %}">{{ button.text }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="c-pagesection c-pagesection--light c-pagesection--deco c-pagesection--no-bottom-deco">
      <div class="l-container l-container--copy">
        <div class="c-title-module c-title-module--vertical c-about-me">
          <div class="c-title-module__title">
            <h4 class="c-h4">{{ aboutData.journey.smallTitle }}</h4>
            <h2 class="c-h2">{{ aboutData.journey.title }}</h2>
          </div>

          <div class="c-title-module__content c-about__content">
            {{ aboutData.journey.intro | safe }}

            <ul class="c-about__list">
              {% for achievement in aboutData.journey.achievements %}
                <li>{{ achievement }}</li>
              {% endfor %}
            </ul>

            {{ aboutData.journey.conclusion | safe }}

            <div class="l-grid l-grid--2cols@medium">
              {% for card in aboutData.infoCards %}
                <div class="c-about__card">
                  <div class="c-deco-img-container c-card__deco-container c-about-card__deco">
                    <img src="{{ card.icon }}" data-rotate="{% if loop.index == 1 %}10, -1{% else %}-10, 1{% endif %}" alt="Icon" class="c-deco-img c-card__deco">
                  </div>
                  <p>{{ card.content }}</p>
                </div>
              {% endfor %}
            </div>

            <p class="c-about__p-muted">{{ aboutData.finalSection.text }}</p>
            <a href="{{ aboutData.finalSection.buttonUrl }}" class="c-cta">{{ aboutData.finalSection.buttonText }}</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}