---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "home" %}

{% set metaTitle = "Home" %}
{% set metaDescription = "Your friendly web agency" %}

{% block content %}
  <main>
    <div class="c-pagesection c-pagesection--dark test">
      <div class="l-container">
        <div class="test-content">
          <img src="/assets/img/hero-image.png" alt="" class="test-image o-fluidimg">
          <div class="test-text">
            <h1 class="c-h1">Hey</h1>
            <p class="c-paragraph">Lorem ipsum dolor si </p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-pagesection test--white">
      <div class="l-container">
        <h1 class="c-h1">Hey</h1>
      </div>
    </div>
  </main>
{% endblock %}