---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "home" %}

{% set metaTitle = "Home" %}
{% set metaDescription = "Simon Tarea - Votre temps, votre santé : Reprenons le contrôle" %}

{# Import #}

{% from "macros/serviceCard.njk" import serviceCard %}

{% block content %}
  <main>
    <div class="c-pagesection c-hero">
      <div class="l-container">
        <div class="c-hero__content">
          <div class="c-hero__img-container">
            {# TODO add srcset #}
            <img src="/assets/img/hero-image.png" alt="Photo of Simon Tarea, smiling" class="c-hero__image">
              <div class="c-hero__deco-container c-deco-img-container clap" data-parallax="0.07">
                <img src="/assets/img/hero-icons/clapping_hands.png" alt="Icon of clapping hands" class="c-hero__deco c-deco-img" data-rotate="-7, 1" >
              </div>
              <div class="c-hero__deco-container c-deco-img-container clock" data-parallax="0.03">
                <img src="/assets/img/hero-icons/eleven_oclock.png" alt="Icon of a clock" class="c-hero__deco c-deco-img" data-rotate="10, -1" >
              </div>
              <div class="c-hero__deco-container c-deco-img-container biceps" data-parallax="0.05">
                <img src="/assets/img/hero-icons/flexed_biceps.png" alt="Icon of a flexed biceps" class="c-hero__deco c-deco-img" data-rotate="-7, 1" >
              </div>
              <div class="c-hero__deco-container c-deco-img-container trophy" data-parallax="0.03">
                <img src="/assets/img/hero-icons/trophy.png" alt="Icon of a trophy" class="c-hero__deco c-deco-img" data-rotate="10, -1" >
              </div>
            </div>
          <div class="c-hero__text">
            <h1 class="c-h1 c-hero__title">Votre <span>temps,</span> votre <span>santé :</span><br> Reprenons le contrôle</h1>
            <p class="c-hero__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula, ultrices mauris.</p>
            <div class="c-hero__footer">
              {# TODO Add corrects links #}
              <a href="#" class="c-cta">Mes formations</a>
              <a href="#" class="c-cta c-cta--secondary">Suivi individuel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-pagesection c-pagesection--light c-pagesection--deco c-pagesection--big-deco">
      <div class="l-container">
        <div class="c-title-module">
          <div class="c-title-module__title">
            <h4 class="c-h4">Par où commencer ?</h4>
            <h2 class="c-h2">Des services qui s’adaptent à vos besoins</h2>
          </div>
          <div class="c-title-module__content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p></div>
        </div>
        <div class="c-cardsection">
          <ul class="u-list-bare c-card-gallery l-grid l-grid--2cols@medium">
            <li>
              {{ serviceCard(
                image="/assets/img/serviceCard/en-ligne.png",
                url="/projects/detail/",
                title="Formations en ligne",
                content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris."
              ) }}
            </li>
            <li>
              {{ serviceCard(
                image="/assets/img/serviceCard/suivi.png",
                url="/projects/detail/",
                title="Suivi individuel",
                content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris."
              ) }}

            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-pagesection c-pagesection--deco">
      <div class="l-container">
        <h1 class="c-h1">Hey</h1>
      </div>
    </div>
  </main>
{% endblock %}