---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "home" %}

{% set metaTitle = "Home" %}
{% set metaDescription = "Simon Tarea - Votre temps, votre santé : Reprenons le contrôle" %}

{% block content %}
  <main>
    <div class="c-pagesection c-hero">
      <div class="l-container">
        <div class="c-hero-content">
          <img src="/assets/img/hero-image.png" alt="" class="c-hero-image o-fluidimg">
          <div class="c-hero-text">
            <h1 class="c-h1 c-hero__title">Votre <span>temps,</span> votre <span>santé :</span><br> Reprenons le contrôle</h1>
            <p class="c-hero__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula, ultrices mauris.</p>
            <div class="c-hero__footer">
              <a href="" class="c-cta">Mes formations</a>
              <a href="" class="c-cta c-cta--secondary">Suivi individuel</a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="c-pagesection c-pagesection--light c-pagesection--deco">
      <div class="l-container">
        <h1 class="c-h1">Hey</h1>
      </div>
    </div>
    <div class="c-pagesection c-pagesection--deco">
      <div class="l-container">
        <h1 class="c-h1">Hey</h1>
      </div>
    </div>
  </main>
{% endblock %}