---
permalink: suivi/index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "suivi" %}

{% set metaTitle = "Accompagnement individuel" %}
{% set metaDescription = "Simon Tarea - Votre temps, votre santé : Reprenons le contrôle" %}

{# Import #}


{% block content %}
  <main>  
    
    

  </main>
{% endblock %}