@use "../mixins/mixins-breakpoints";

/* ---------------------------------
=splits
--------------------------------- */

.l-split {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  @include mixins-breakpoints.breakpoint(medium) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    column-gap: var(--gutter);
  }

  @include mixins-breakpoints.breakpoint(xlarge) {
    grid-template-columns: minmax(0, 5fr) minmax(0, 7fr);
  }
}
