/* ---------------------------------
=container
--------------------------------- */

.l-container {
  margin: 0 auto;
  padding-left: calc(18 / 16 * 1rem);
  padding-right: calc(18 / 16 * 1rem);
  max-width: 1480px;

  @include breakpoint(medium) {
    padding-left: calc(36 / 16 * 1rem);
    padding-right: calc(36 / 16 * 1rem);
  }

  @include breakpoint(xlarge) {
    padding-left: calc(54 / 16 * 1rem);
    padding-right: calc(54 / 16 * 1rem);
  }
}

.l-container--copy {
  max-width: 80ch;
}
