:root {
  // base variables (do not use in CSS)
  --color-orange: #F0644;
  --color-blue: #101F34;
  --color-vibrant-blue: #172B46;

  --color-gray1: #0A0301;
  --color-gray2: #393331;
  --color-gray3: #585452;
  --color-gray4: #908c8b;
  --color-gray5: #c2bcbc;
  --color-gray6: #ede8e8;

  --color-white: #ffffff;

  // incident variables (used in CSS)
  --color-background: var(--color-white);
  --color-text: var(--color-gray1);
  --color-text-offset: var(--color-blue);
  --color-background-invert: var(--color-blue);
  --color-text-invert: var(--color-white);
  --color-border: var(--color-orange);

  --color-brand: var(--color-orange);
  --color-brand-dark: var(--color-blue);
  --color-brand-vibrant-dark: var(--color-vibrant-blue);
}
