:root {
  --spacing-none: 0;
  --spacing-xxs: calc(3 / 16 * 1rem);
  --spacing-xs: calc(6 / 16 * 1rem);
  --spacing-s: calc(12 / 16 * 1rem);
  --spacing-m: calc(18 / 16 * 1rem);
  --spacing-l: calc(24 / 16 * 1rem);
  --spacing-xl: calc(30 / 16 * 1rem);
  --spacing-xxl: calc(42 / 16 * 1rem);
}
