:root {
  // base variables (do not use in CSS)
  --color-green1: #0b6451;
  --color-green2: #15866d;
  --color-green3: #cefea9;
  --color-green4: #d6fbf3;

  --color-gray1: #031310;
  --color-gray2: #293634;
  --color-gray3: #6d7674;
  --color-gray4: #8e9593;
  --color-gray5: #cdd0cf;
  --color-gray6: #e6e7e7;

  --color-white: #ffffff;

  // incident variables (used in CSS)
  --color-background: var(--color-white);
  --color-text: var(--color-gray2);
  --color-text-offset: var(--color-gray3);
  --color-text-invert: var(--color-white);
  --color-border: var(--color-gray4);
  --color-border-light: var(--color-gray5);

  --color-brand: var(--color-green2);
  --color-brand-dark: var(--color-green1);
  --color-brand-bright: var(--color-green3);
  --color-brand-muted: var(--color-green4);
}
