{%- set mobileData = collections.mobile[0].data -%}

<div class="c-mobilemenu js-mobilemenu">
  <div class="c-mobilemenu__actions">
    <button class="c-mobilemenu__close js-menutrigger">{{ mobileData.actions.closeText }}</button>
  </div>
  <div class="c-mobilemenu__body">
    <nav class="navigation menu">
      {% for navItem in mobileData.navigation %}
        {% if loop.first %}<ul class="c-mobilenav">{% endif %}
          {% set currentClass = "" %}
          {% set currentAria = "" %}
          {% if navItem.trigger == currentSection %}
            {% set currentClass = "is-current" %}
            {% set currentAria = 'aria-current="page"'|safe %}
          {% endif %}
          <li class="c-mobilenav__item">
            <a class="c-mobilenav__link {{ currentClass }}" 
               {{ currentAria }} 
               href="{{ navItem.url }}"
               {% if navItem.isExternal %}target="_blank" rel="noopener"{% endif %}>
              {{ navItem.label }}
            </a>
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </nav>
  </div>
</div>