<footer class="c-sitefooter">
  <div class="l-container">
    
    <div class="c-sitefooter__contact">
      
      <div class="c-sitefooter__links">
        <ul class="c-contactlist u-list-bare">
          <li class="c-contactlist__item"><a class="c-contactlist__link" href="mailto:hello@zodiak.agency">hello@zodiak.agency</a></li>
          <li class="c-contactlist__item"><a class="c-contactlist__link" href="tel:00322345657">+32 2 345 657</a></li>
        </ul>
      </div>
      <div class="c-sitefooter__social">
        <nav aria-label="social media">
          <ul class="c-socialmedia u-list-bare">
            <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#" aria-label="Instragram">{% include "svg/icon_instagram.svg" %}</a></li>
            <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#" aria-label="Facebook">{% include "svg/icon_facebook.svg" %}</a></li>
            <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#" aria-label="Twitter">{% include "svg/icon_twitter.svg" %}</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="c-sitefooter__main">

      <div class="c-sitefooter__mainnav">
        <nav aria-label="footer navigation" id="footernav">
          {% for item in mainnav %}
            {% if loop.first %}<ul class="c-footernav u-list-bare">{% endif %}
              <li class="c-footernav__item"><a class="c-footernav__link" href="{{ item.url }}">{{ item.label }}</a></li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </nav>
      </div>

      <div class="c-sitefooter__legalnav">
        <nav aria-label="legal navigation">
          {% for item in legalnav %}
            {% if loop.first %}<ul class="c-footernav u-list-bare">{% endif %}
              <li class="c-footernav__item"><a class="c-footernav__link" href="/assets/legal_docs/{{ item.file }}">{{ item.label }}</a></li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </nav>
      </div>
      
    </div>

    <div class="c-sitefooter__end">
      <p class="c-copyright">&copy; 2032 - Simon Tarea</p>
    </div>

  </div>
</footer>